*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
.first-bar{
  background-color: #d9e0e6;
  border-bottom: 1px solid #32495b;
}
.bar-inside{
  width: 80%;
  margin: 0 auto;
}
.bar-inside::after{
  content: "";
  display: table;
  clear: both;
}
.bar-inside-left{
  float: left;
  width: 50%;
  text-align: left;
}
.bar-inside-left ul li{
  display: inline-block;
  margin: 30px 0;
}
.bar-inside-left ul li:first-child{
  border-right: 1px solid #32495b;
  padding-right: 20px;
}
.bar-inside-left ul li:last-child{
  padding-left: 20px;
}
.bar-inside-left a{
  text-decoration: none;
  color: #32495b;
}
.bar-inside-right{
  float: right;
  width: 50%;
  text-align: right;
}
.bar-inside-right::after{
  content: "";
  display: table;
  clear: both;
}
.bar-inside-right ul li{
  display: inline-block;
  margin: 30px 0;
}
.bar-inside-right ul li a{
  text-decoration: none;
}
.bar-inside-right ul li:first-child a{
  color: #00ceed;
  margin-right: 20px;
}
.button{
  padding: 10px;
  border-radius: 5px;
}
.button-tr{
  border: 1px solid orange;
  color: orange;
  background-color: #fafcfe;
  margin-right: 20px;
}
.button-orange{
  background-color: #fe775a;
  color: white;
}
.second-bar{
  background-color: #fff;
}
.second-inside-bar{
  width: 80%;
  margin: 0 auto;
}
.second-inside-bar::after{
  content: "";
  display: table;
  clear: both;
}
.left-bar{
  float: left;
  width: 50%;
  text-align: left;
}
.left-bar img{
  margin: 20px 0;
}
.right-bar{
  float: right;
  width: 50%;
  text-align: right;
}
.right-bar ul li{
  display: inline-block;
  list-style: none;
  padding: 20px;
}
.right-bar ul li a{
  text-decoration: none;
  color: #32495b;
}
.right-bar ul:last-child li{
  padding-right: 0;
}
.right-bar ul li a i{
  padding-left: 20px;
}
.banner-bck{
  height: 695px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner{
  width: 80%;
  margin: 0 auto;
}
.title{
  width: 33%;
  padding-top: 40px;
}
.title h1{
  line-height: 50px;
  color: #33475b;
}
.title .top-p{
  margin-top: 25px;
  margin-bottom: 45px;
  line-height: 25px;
  color: #33475b;
}
.title a{
  text-decoration: none;
}
.title .button-title{
  padding: 20px;
  background-color: #fe775a;
  color: white;
}
.bottom-p{
  color: #33475b;
  margin-top: 60px;
}
