*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
.first-bar{
  position: fixed;
  width: 100%;
  background-color: #d9e0e6;
  border-bottom: 1px solid #32495b;
}
.bar-inside{
  width: 80%;
  margin: 0 auto;
}
.bar-inside::after{
  content: "";
  display: table;
  clear: both;
}
.bar-inside-left{
  float: left;
  width: 50%;
  text-align: left;
}
.bar-inside-left ul li{
  display: inline-block;
  margin: 30px 0;
}
.bar-inside-left ul li:first-child{
  border-right: 1px solid #32495b;
  padding-right: 20px;
}
.bar-inside-left ul li:last-child{
  padding-left: 20px;
}
.bar-inside-left a{
  text-decoration: none;
  color: #32495b;
}
.bar-inside-right{
  float: right;
  width: 50%;
  text-align: right;
}
.bar-inside-right::after{
  content: "";
  display: table;
  clear: both;
}
.bar-inside-right ul li{
  display: inline-block;
  margin: 30px 0;
}
.bar-inside-right ul li a{
  text-decoration: none;
}
.bar-inside-right ul li:first-child a{
  color: #00ceed;
  margin-right: 20px;
}
.button{
  padding: 10px;
  border-radius: 5px;
}
.button-tr{
  border: 1px solid orange;
  color: orange;
  background-color: #fafcfe;
  margin-right: 20px;
}
.button-orange{
  background-color: #fe775a;
  color: white;
  text-decoration: none;
}
.second-bar{
  background-color: #fff;
  padding-top: 81px;
}
.second-inside-bar{
  width: 80%;
  margin: 0 auto;
}
.second-inside-bar::after{
  content: "";
  display: table;
  clear: both;
}
.left-bar{
  float: left;
  width: 50%;
  text-align: left;
}
.left-bar img{
  margin: 20px 0;
}
.right-bar{
  float: right;
  width: 50%;
  text-align: right;
}
.right-bar ul li{
  display: inline-block;
  list-style: none;
  padding: 20px;
}
.right-bar ul li a{
  text-decoration: none;
  color: #32495b;
}
.right-bar ul:last-child li{
  padding-right: 0;
}
.right-bar ul li a i{
  padding-left: 20px;
}
.banner-bck{
  height: 695px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner{
  width: 80%;
  margin: 0 auto;
}
.title{
  width: 33%;
  padding-top: 40px;
}
.title h1{
  line-height: 70px;
  color: #33475b;
  font-size: 50px;
}
.title .top-p{
  margin-top: 25px;
  margin-bottom: 45px;
  line-height: 25px;
  color: #33475b;
}
.title a{
  text-decoration: none;
}
.title .button-title{
  padding: 20px;
  background-color: #fe775a;
  color: white;
}
.bottom-p{
  color: #33475b;
  margin-top: 60px;
}
.top-main{
  background-color: #d9e0e6;
}
.top-main-inside{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.top-main-inside h2{
  color: #33475b;
  font-size: 35px;
  margin-bottom: 20px;
}
.top-main-inside p{
  color: #33475b;
  line-height: 25px;
  padding-bottom: 80px;
}
.middle-main{
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}
.middle-main-in::after{
  content: "";
  display: table;
  clear: both;
}
.middle-main-in{
  padding: 5% 10%;
}
.middle-left, .middle-right{
  float: left;
}
.middle-left{
  width: 40%;
}
.middle-right{
  width: 50%;
}
.middle-left p{
  margin-top: 30px;
}
.middle-left p a{
  text-decoration: none;
}
.bt{
  padding: 25px 35px;
}
.middle-right ul{
  list-style: none;
}
.middle-right h2{
  color: #33475b;
  font-size: 30px;
  margin-bottom: 40px;
}
.middle-right p {
  color: #33475b;
  line-height: 25px;
  margin-bottom: 35px;
}
.middle-right h3{
  color: #33475b;
  font-size: 25px;
  line-height: 80px;
}
.middle-right ul{
  margin-top: 35px;
}
.middle-right li{
  display: inline-block;
  padding-right: 20px;
}
.middle-right li i{
  color: #fe775a;
  padding-right: 20px;
}
.middle{
  display: inline-block;
  width: 50%;
  margin: 0 10px;
  vertical-align: middle;
}
.bottom-main-inside{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 40px;
}
.bottom-main-inside::after{
  content: "";
  display: table;
  clear: both;
}
.box-float{
  float: left;
  width: 30%;
  text-align: center;
  background-color: white;
  padding: 30px;
}
.center{
  margin-left: 5%;
  margin-right: 5%;
}
.box-float ul{
  list-style: none;
  text-align: left;
}
.box-float img{
  height: 150px;
}
.box-float h2{
  color: #33475b;
}
.box-float p{
  color: #33475b;
  line-height: 25px;
  margin: 20px 0;
}
.box-float h3{
  color: #33475b;
  margin: 20px 0;
}
.box-float li span{
  color: #33475b;
  padding-left: 10px;
}
.box-float li i{
  color: #fe775a;
}
.box-float a{
  display: inline-block;
  margin-top: 40px;
}
.bottom-main{
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}
.bottom-main-width{
  width: 80%;
  margin: 0 auto;
  color: white;
}
.bottom-top-h2{
  width: 50%;
  margin: 0 auto;
}
.bottom-top-p{
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
}
.bottom-top-h2 h2{
  padding-top: 80px;
  font-size: 30px;
}
.bottom-main-width h2, .bottom-main-width p{
  text-align: center;
}
.container{
  text-align: center;
  padding-bottom: 80px;
}
.box{
  display: inline-block;
  width: 20%;
  padding: 30px;
}
.container-top .box{
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.container-bottom .box{
  border-right: 1px solid white;
}
.box h2{
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#end, #end1{
  border-right: 0;
}
.end-main-top{
  width: 60%;
  margin: 0 auto;
  padding: 80px 0;
}
.end-main-top::after{
  content: "";
  display: table;
  clear: both;
}
.customers-left{
  float: left;
  width: 30%;
  color: #33475b;
}
.customers-right{
  float: right;
  width: 70%;
  text-align: right;
  line-height: 50px;
}
.customers-left-h2{
  font-size: 30px;
}
.customers-left-p{
  width: 75%;
  padding: 30px 0;
  line-height: 30px;
  font-size: 20px;
}
.customers-right img{
  padding: 20px 10px;
  width: 150px;
  vertical-align: middle;
}
.end-main-bottom{
  width: 80%;
  margin: 80px auto;
}
.end-main-bottom::after{
  content: "";
  display: table;
  clear: both;
}
.bottom-left, .bottom-right{
  float: left;
  width: 50%;
}
.bottom-left{
  color: #33475b;
}
.bottom-left-h2{
  font-size: 30px;
}
.bottom-left-p{
  padding-top: 20px;
  padding-bottom: 80px;
  width: 70%;
  line-height: 25px;
}
.bottom-left a{
  padding: 40px 50px;
  font-weight: bold;
}
.bottom-left .p-bottom{
  padding-top: 80px;
  color: #9A86BF;
}
.bottom-right{
  text-align: right;
}
.bottom-right img{
  width: 400px;
}
.footer{
  background-color: #33475B;
}
.footer-inside{
  width: 80%;
  margin: 0 auto;
}
.footer-nav::after{
  content: "";
  display: table;
  clear: both;
}
.footer-nav{
  padding: 100px 0;
}
.footer-inside .nav-item{
  float: left;
}
.footer-inside ul{
  list-style: none;
}
.footer-inside ul li a{
  text-decoration: none;
}
.title-li{
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.nav-item{
  margin-right: 4%;
  width: 22%;
}
.x{
  margin-right: 0;
}
.nav-item li a{
  color: rgb(187, 218, 223);
}
.nav-item li a:hover{
  color: #69ABD9;
}
.nav-item li{
  padding: 10px 0;
}
.nav-item li span{
  padding-right: 10px;
}
#list-button{
  margin: 15px 0;
}
#list{
  color: white;
}
#list:hover{
  color: white;
}
#contact{
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  color: #334C64;
}
#nav-logo i{
  padding-right: 20px;
  padding-top: 10px;
  font-size: 20px;
}
